/*************************************************|
| Styles for the buttons in the framework         |
*************************************************/

button {
  background: $primary;
  border: 0;
  color: $buttontextcolor;
  padding: 10px;

  &:focus {
    outline: none;
  }
}
