/*************************************************|
| Grid                                            |
*************************************************/

.row {
  @extend .cf;
  [class*="col-"] {

    margin-left: $gutter__mobile;
    float: left;
  }

  @for $i from 1 to $columncount__desktop+1 {

    .col-#{$i} {
      width: (100/$columncount__desktop) * $i - $gutter__desktop;
    }
  }

  @for $i from 1 to $columncount__mobile+1 {

    .col-m-#{$i} {
      width: (100/$columncount__mobile) * $i - $gutter__mobile;
    }
  }

  @include bp($tablet) {

    @for $i from 1 to $columncount__tablet+1 {

      .col-t-#{$i} {
        width: (100/$columncount__tablet) * $i - $gutter__tablet;
      }
    }
  }

  @include bp($landscapetablet) {

    @for $i from 1 to $columncount__landscapetablet+1 {

      .col-lt-#{$i} {
        width: (100/$columncount__landscapetablet) * $i - $gutter__landscapetablet;
      }
    }
  }

  @include bp($desktop) {

    @for $i from 1 to $columncount__desktop+1 {

      .col-#{$i} {
        width: (100/$columncount__desktop) * $i - $gutter__desktop;
      }
    }
  }

  &.no-margins {
    [class*="col-"] {
      &:first-child {
        margin-left: 0;
      }
      margin-left: 0;
    }

    @for $i from 1 to $columncount__desktop+1 {

      .col-#{$i} {
        width: (100%/$columncount__desktop) * $i;
      }
    }

    @for $i from 1 to $columncount__mobile {

      .col-m-#{$i} {
        width: (100%/$columncount__mobile) * $i;
      }
    }


    @include bp($tablet) {

      @for $i from 1 to $columncount__tablet+1 {

        .col-t-#{$i} {
          width: (100%/$columncount__tablet) * $i;
        }
      }
    }

    @include bp($landscapetablet) {

      @for $i from 1 to $columncount__landscapetablet+1 {

        .col-lt-#{$i} {
          width: (100%/$columncount__landscapetablet) * $i;
        }
      }
    }

    @include bp($desktop) {

      @for $i from 1 to $columncount__desktop+1 {

        .col-#{$i} {
          width: (100%/$columncount__desktop) * $i;
        }
      }
    }

  }
}