/*************************************************|
| Breakpoints                                     |
*************************************************/

$mobile                         : 320px;
$tablet                         : 760px;
$landscapetablet                 : 960px;
$desktop                        : 1260px;

/*************************************************|
| Fonts                                           |
*************************************************/

$basefont         : 'Raleway', sans-serif;
$headerfont       : 'Raleway', sans-serif;

/*************************************************|
| Font Sizes                                      |
*************************************************/

$basefontsize__mobile              : 14px;
$basefontsize__tablet_portrait     : 16px;
$basefontsize__tablet_landscape    : 18px;
$basefontsize__desktop             : 18px;

/*************************************************|
| Font Colours                                    |
*************************************************/

$basefontcolor                     : #393939;
$headerfontcolor                   : #373737;
$buttontextcolor                   : #aabbcc;

/*************************************************|
| Colours                                         |
*************************************************/

$primary                           : #3a4a9a;
$secondary                         : #4a3a9a;
$tertiary                          : #9a3a9a;

/*************************************************|
| Form Controls                                   |
*************************************************/

$inputheight                       : 30px;